.results {
  padding-top: 70px; }

.devision {
  padding-top: 70px; }

/*select*/
.az-select {
  border: 2px solid #cbd1d6;
  position: relative;
  cursor: pointer; }
  .az-select select {
    height: 36px;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    padding: 0 15px;
    letter-spacing: 0.02em;
    font-family: "OpenSans-Semibold";
    font-size: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none; }
  .az-select select::-ms-expand {
    display: none; }
  .az-select .az-options {
    display: none;
    top: 100%;
    left: 0px;
    width: 100%;
    position: absolute;
    padding: 0 15px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    z-index: 3; }
    .az-select .az-options div[data-val] {
      font-size: 16px;
      font-family: "OpenSans-Semibold";
      color: #fff;
      line-height: 30px;
      letter-spacing: 0.02em;
      cursor: pointer; }

.az-select:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  width: 13px;
  height: 8px;
  background: url(../img/select-arrow.png) no-repeat top left;
  z-index: -1; }

.az-select-focus:before {
  background: url(../img/select-arrow-focus.png) no-repeat top left; }

/*select*/
h2 {
  font-size: 28px;
  font-family: "OpenSans-Semibold";
  text-transform: uppercase;
  color: #e09b1b;
  letter-spacing: 0.02em;
  margin-bottom: 30px; }

/*table*/
.span-table {
  font-family: "OpenSans-Regular";
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block; }

.az-table {
  width: 100%; }
  .az-table td {
    padding: 10px 0px; }
  .az-table tr:nth-child(2n+1) {
    background: #eef3f5; }

.ticon1 {
  display: inline-block;
  width: 14px;
  height: 18px;
  background: url(../img/az-timg1.png) no-repeat top left;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 5px;
  position: relative; }
  .ticon1 .az-tpopup {
    display: none; }

.ticon1:hover {
  background: url(../img/az-timg1-hover.png) no-repeat top left; }
  .ticon1:hover .az-tpopup {
    position: absolute;
    display: block;
    bottom: calc(100% + 10px);
    right: -12px;
    padding: 20px;
    min-width: 218px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.8);
    text-align: left; }
    .ticon1:hover .az-tpopup .az-title {
      display: block;
      font-family: "OpenSans-Semibold";
      font-size: 16px;
      color: #fff;
      letter-spacing: 0.02em;
      margin-bottom: 25px; }
    .ticon1:hover .az-tpopup .az-text {
      display: block;
      font-family: "OpenSans-Italic";
      font-size: 14px;
      color: #fff;
      letter-spacing: 0.02em; }

.ticon1:hover:before {
  content: '';
  position: absolute;
  display: block;
  bottom: calc(100% + 3px);
  right: 50%;
  transform: translate(50%, 0);
  width: 0px;
  height: 0px;
  border-top: 7px solid rgba(0, 0, 0, 0.8);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

.ticon2 {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/az-timg2.png) no-repeat top left;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 5px; }

.ticon3 {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/az-timg3.png) no-repeat top left;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 5px; }

.ticon4 {
  display: inline-block;
  width: 14px;
  height: 18px;
  background: url(../img/az-timg4.png) no-repeat top left;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 5px; }

.az-table_style td:first-child {
  text-align: center;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  color: #97a3ad;
  letter-spacing: 0.02em; }
.az-table_style td:nth-child(2) {
  text-align: left;
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  color: #000;
  letter-spacing: 0.02em; }
.az-table_style td:nth-child(3) {
  text-align: left;
  font-family: "OpenSans-Bold";
  font-size: 14px;
  color: #97a3ad;
  letter-spacing: 0.02em; }
  .az-table_style td:nth-child(3) strong {
    color: #f37527; }
.az-table_style td:last-child {
  text-align: center; }
  .az-table_style td:last-child strong {
    font-family: "OpenSans-Semibold";
    font-size: 14px;
    color: #f32727;
    letter-spacing: 0.02em; }

/*table*/
/**********tabs*********/
.tabs {
  position: relative;
  margin: 0 auto;
  width: 100%; }

.tabs__margin {
  margin-top: 15px; }

.tabs input[type="radio"] {
  display: none; }

#tab_1:checked ~ #tab_l1,
#tab_2:checked ~ #tab_l2 {
  color: #0099cc;
  top: 0;
  z-index: 3;
  position: relative; }

#tab_1:checked ~ #tab_l1:before,
#tab_2:checked ~ #tab_l2:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100%;
  background: #0099cc;
  height: 2px; }

.tabs label {
  font-size: 20px;
  font-family: "OpenSans-Regular";
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-right: 20px;
  cursor: pointer; }

.tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  height: 0px; }

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2 {
  position: static;
  left: 0;
  opacity: 1;
  height: unset; }

.tabs_cont {
  padding-top: 25px; }

.tab-span {
  font-family: "OpenSans-Regular";
  font-size: 16px;
  color: #000;
  letter-spacing: 0.02em; }

/**********tabs*********/
.az-right {
  float: right; }

.az-left {
  float: left; }

.az-select_style {
  width: 280px; }

.az-tlink {
  font-family: "OpenSans-Regular";
  font-size: 13px;
  color: #0099cc;
  letter-spacing: 0.02em; }

.az-center {
  text-align: center; }

.az-left {
  text-align: left; }

/*margins*/
.az-margin-top20 {
  margin-top: 20px;
  display: block; }

/*margins*/

/*# sourceMappingURL=style3.css.map */
