.results {
  padding-top: 70px; }

.devision {
  padding-top: 20px; }

.liders {
  padding-top: 30px;
  padding-bottom: 50px; }

/*select*/
.az-select {
  border: 2px solid #cbd1d6;
  position: relative;
  cursor: pointer; }
  .az-select select {
    height: 36px;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    padding: 0 15px;
    letter-spacing: 0.02em;
    font-family: "OpenSans-Semibold";
    font-size: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none; }
  .az-select select::-ms-expand {
    display: none; }
  .az-select .az-options {
    display: none;
    top: 100%;
    left: 0px;
    width: 100%;
    position: absolute;
    padding: 0 15px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    z-index: 6; }
    .az-select .az-options div[data-val] {
      font-size: 16px;
      font-family: "OpenSans-Semibold";
      color: #fff;
      line-height: 30px;
      letter-spacing: 0.02em;
      cursor: pointer; }

.az-select:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  width: 13px;
  height: 8px;
  background: url(../img/select-arrow.png) no-repeat top left;
  z-index: -1; }

.az-select-focus:before {
  background: url(../img/select-arrow-focus.png) no-repeat top left; }

/*select*/
h2 {
  font-size: 28px;
  font-family: "OpenSans-Semibold";
  text-transform: uppercase;
  color: #e09b1b;
  letter-spacing: 0.02em;
  margin-bottom: 30px; }

/*table*/
.span-table {
  font-family: "OpenSans-Regular";
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block; }

.span-table2 {
  font-family: "OpenSans-Regular";
  font-size: 20px;
  color: #97a3ad;
  margin-bottom: 10px;
  margin-top: 12px;
  display: block; }

.az-table {
  width: 100%; }
  .az-table td {
    padding: 10px 10px; }
  .az-table th {
    padding: 10px 10px;
    background: #e4e9eb; }
  .az-table tr:nth-child(2n+1) {
    background: #eef3f5; }

.ticon1 {
  display: inline-block;
  width: 14px;
  height: 18px;
  background: url(../img/az-timg1.png) no-repeat top left;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 5px;
  position: relative; }
  .ticon1 .az-tpopup {
    display: none; }

.ticon1:hover {
  background: url(../img/az-timg1-hover.png) no-repeat top left; }
  .ticon1:hover .az-tpopup {
    position: absolute;
    display: block;
    bottom: calc(100% + 10px);
    right: -12px;
    padding: 20px;
    min-width: 218px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.8);
    text-align: left; }
    .ticon1:hover .az-tpopup .az-title {
      display: block;
      font-family: "OpenSans-Semibold";
      font-size: 16px;
      color: #fff;
      letter-spacing: 0.02em;
      margin-bottom: 25px; }
    .ticon1:hover .az-tpopup .az-text {
      display: block;
      font-family: "OpenSans-Italic";
      font-size: 14px;
      color: #fff;
      letter-spacing: 0.02em; }

.ticon1:hover:before {
  content: '';
  position: absolute;
  display: block;
  bottom: calc(100% + 3px);
  right: 50%;
  transform: translate(50%, 0);
  width: 0px;
  height: 0px;
  border-top: 7px solid rgba(0, 0, 0, 0.8);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

.ticon2 {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/az-timg2.png) no-repeat top left;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 5px; }

.ticon3 {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/az-timg3.png) no-repeat top left;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 5px; }

.ticon4 {
  display: inline-block;
  width: 14px;
  height: 18px;
  background: url(../img/az-timg4.png) no-repeat top left;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 5px; }

.az-table_style td:first-child {
  text-align: center;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  color: #97a3ad;
  letter-spacing: 0.02em; }
.az-table_style td:nth-child(2) {
  text-align: left;
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  color: #000;
  letter-spacing: 0.02em; }
.az-table_style td:nth-child(3) {
  text-align: left;
  font-family: "OpenSans-Bold";
  font-size: 14px;
  color: #97a3ad;
  letter-spacing: 0.02em; }
  .az-table_style td:nth-child(3) strong {
    color: #f37527; }
.az-table_style td:last-child {
  text-align: center; }
  .az-table_style td:last-child strong {
    font-family: "OpenSans-Semibold";
    font-size: 14px;
    color: #f32727;
    letter-spacing: 0.02em; }

.az-table_style2 td:first-child {
  text-align: center;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  color: #97a3ad;
  letter-spacing: 0.02em; }
.az-table_style2 td:nth-child(2) {
  text-align: left;
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  color: #000;
  letter-spacing: 0.02em; }
.az-table_style2 td:nth-child(3), .az-table_style2 td:last-child {
  text-align: center;
  font-family: "OpenSans-Bold";
  font-size: 14px;
  color: #97a3ad;
  letter-spacing: 0.02em; }
  .az-table_style2 td:nth-child(3) strong, .az-table_style2 td:last-child strong {
    color: #f37527; }
.az-table_style2 th {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  color: #97a3ad;
  letter-spacing: 0.02em; }
.az-table_style2 th:first-child {
  text-align: left; }
.az-table_style2 th {
  text-align: center; }

.az-table_style3 td:first-child {
  text-align: left;
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  color: #000;
  letter-spacing: 0.02em; }
.az-table_style3 td:nth-child(2) {
  text-align: right;
  font-family: "OpenSans-Bold";
  font-size: 14px;
  color: #97a3ad;
  letter-spacing: 0.02em; }
  .az-table_style3 td:nth-child(2) strong {
    color: #f37527; }

/*table*/
/**********tabs*********/
.tabs {
  position: relative;
  margin: 0 auto;
  width: 100%; }

.tabs__margin {
  margin-top: 15px; }

.tabs input[type="radio"] {
  display: none; }

#tab_1:checked ~ #tab_l1,
#tab_2:checked ~ #tab_l2,
#tab_3:checked ~ #tab_l3,
#tab_4:checked ~ #tab_l4 {
  color: #0099cc;
  top: 0;
  z-index: 3;
  position: relative; }

#tab_1:checked ~ #tab_l1:before,
#tab_2:checked ~ #tab_l2:before,
#tab_3:checked ~ #tab_l3:before,
#tab_4:checked ~ #tab_l4:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100%;
  background: #0099cc;
  height: 2px; }

.tabs label {
  font-size: 20px;
  font-family: "OpenSans-Regular";
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-right: 20px;
  cursor: pointer; }

.tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  height: 0px; }

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4 {
  position: static;
  left: 0;
  opacity: 1;
  height: unset; }

.tabs_cont {
  padding-top: 25px; }

.tab-span {
  font-family: "OpenSans-Regular";
  font-size: 16px;
  color: #000;
  letter-spacing: 0.02em; }

/**********tabs*********/
.az-right {
  float: right; }

.az-left {
  float: left; }

.az-select_style {
  width: 100%; }

.az-tlink {
  font-family: "OpenSans-Regular";
  font-size: 13px;
  color: #0099cc;
  letter-spacing: 0.02em; }

.az-center {
  text-align: center; }

.az-left {
  text-align: left; }

.az-col2 {
  width: 100%;
  float: left; }

.az-col3 {
  width: 100%;
  float: left; }

/*lenta*/
.az-back {
  background: #f6f9fa; }

.az-lenta-link {
  font-family: "OpenSans-Regular";
  font-size: 16px;
  color: #000;
  letter-spacing: 0.02em;
  line-height: 22px;
  display: block; }

.az-lenta-date {
  font-family: "OpenSans-Regular";
  font-size: 12px;
  color: #97a3ad;
  letter-spacing: 0.02em;
  line-height: 23px;
  display: block; }

/*lenta*/
/*leader*/
.az-lider-item {
  font-size: 0px; }
  .az-lider-item .az-boximg {
    width: 40%;
    max-width: 200px;
    margin-right: 5%;
    float: left; }
    .az-lider-item .az-boximg img {
      width: 100%;
      height: auto; }
  .az-lider-item .az-desc {
    width: 55%;
    float: left; }
    .az-lider-item .az-desc .span-desc1 {
      font-family: "OpenSans-Semibold";
      font-size: 18px;
      color: #050708;
      letter-spacing: 0.02em;
      line-height: 24px;
      display: block;
      white-space: nowrap; }
    .az-lider-item .az-desc .span-desc2 {
      font-family: "OpenSans-Regular";
      font-size: 14px;
      color: #050708;
      letter-spacing: 0.02em;
      line-height: 23px;
      display: block; }
    .az-lider-item .az-desc .span-desc3 {
      font-family: "OpenSans-Regular";
      font-size: 14px;
      color: #97a3ad;
      letter-spacing: 0.02em;
      line-height: 23px;
      display: block; }
    .az-lider-item .az-desc .span-desc4 {
      font-family: "OpenSans-Bold";
      font-size: 16px;
      color: #f37527;
      letter-spacing: 0.02em;
      line-height: 20px;
      display: block; }

/*leader*/
/*margins*/
.az-margin-top20 {
  margin-top: 20px;
  display: block; }

.az-margin-bottom25 {
  margin-bottom: 25px;
  display: block; }

.az-margin-bottom20 {
  margin-bottom: 20px; }

.az-margin-bottom70 {
  margin-bottom: 70px;
  display: block; }

.az-margin-bottom10 {
  margin-bottom: 10px; }

.az-margin-bottom15 {
  margin-bottom: 15px; }

.az-padding-top50 {
  padding-top: 50px; }

.az-margin10-18 {
  margin-top: 10px;
  margin-bottom: 18px; }

.az-padding-bottom25 {
  padding-bottom: 25px; }

/*margins*/
@media only screen and (min-width: 768px) {
  .az-col3 {
    width: 45%; }

  .az-sm-margin10 {
    margin-right: 10%; } }
@media only screen and (min-width: 992px) {
  .az-select_style {
    width: 280px; }

  .az-col2 {
    width: 45%; }

  .az-md-margin10 {
    margin-right: 10%; } }
@media only screen and (min-width: 1200px) {
  .az-col3 {
    width: 23.5%; }

  .az-lg-margin2 {
    margin-right: 2%; }

  .az-lg-margin0 {
    margin-right: 0%; } }

/*# sourceMappingURL=style3.css.map */
